.main-card {
    background: white;
    text-align: center;
    padding: 1.8em;
    border-radius: 10px;
    box-shadow: 0 0 5px -2px #696fdd;
    &-title {
        margin-top: 0;
    }
    .main-title {
        margin-top: 0;
        font-size: 1.2em;
        color: var(--grayishBlue);
    }
    .main-cost {
        margin: 0;
        color: var(--darkGrayishBlue);
        span {
            font-size: 4em;
            small {
                font-size: 0.5em;
            }
        }
    }
    .button {
        width: 100%;
        padding: 1.2em;
        border-radius: 5px;
        border: none;
        background-image: linear-gradient(to right, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
        margin-top: 1em;
        letter-spacing: 2px;
        color: white;
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 700;
        outline: none;
        box-sizing: border-box;
    }
    .button:hover {
        background-color: white;
        background-image: none;
        border: 1px solid rgb(105, 111, 221);
        color: rgb(105, 111, 221);
        box-sizing: border-box;
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            padding: 1em 0;
            border-bottom: 1px solid var( --lightGrayishBlue);
            color: var(--grayishBlue);
        }
        li:first-child {
            border-top: 1px solid var( --lightGrayishBlue)
        }
    }
    #bmensual,
    #pmensual,
    #mmensual {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #banual,
    #panual,
    #manual {
        display: none;
    }
    #bmensual.active,
    #pmensual.active,
    #mmensual.active {
        display: none;
    }
    #banual.active,
    #panual.active,
    #manual.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.color {
    box-shadow: 0 0 5px -2px #696fdd;
    color: white;
    background-image: linear-gradient(to right, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
    @media screen and(min-width: 1024px) {
        padding: 3em 2em;
    }
    span {
        color: white;
    }
    .color-buttom {
        background: white;
        color: rgb(105, 111, 221);
        font-weight: bold;
        outline: none;
        box-sizing: border-box;
    }
    .color-buttom:hover {
        box-sizing: border-box;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        box-sizing: border-box;
        // #696fdd;
    }
    .color-title {
        color: white;
    }
    ul {
        li {
            color: white;
        }
    }
}