.main-card {
    background: white;
    text-align: center;
    padding: 1.8em;
    border-radius: 10px;
    &-title {
        margin-top: 0;
    }
    .main-title {
        margin-top: 0;
        font-size: 1.2em;
        color: var(--grayishBlue);
    }
    .main-cost {
        margin: 0;
        color: var(--darkGrayishBlue);
        span {
            font-size: 4.8em;
            margin-right: .1em;
        }
    }
    .main-cost {
        .mensual {
            display: none;
        }
    }
    .toggle {
        .annually {
            border: 1px solid red;
            display: none;
        }
        .mensual {
            display: block;
        }
    }
    .button {
        width: 100%;
        padding: 1.2em;
        border-radius: 5px;
        border: none;
        background-image: linear-gradient(to right, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
        margin-top: 1em;
        letter-spacing: 2px;
        color: white;
        text-transform: uppercase;
        font-size: .8em;
        font-weight: 700;
    }
    ul {
        padding: 0;
        li {
            list-style: none;
            padding: 1em 0;
            border-bottom: 1px solid var( --lightGrayishBlue);
            color: var(--grayishBlue);
        }
        li:first-child {
            border-top: 1px solid var( --lightGrayishBlue)
        }
    }
}

.color {
    color: white;
    background-image: linear-gradient(to right, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
    .color-p {
        color: white;
    }
    .color-buttom {
        background: white;
        color: rgb(105, 111, 221);
        font-weight: bold;
    }
    .color-title {
        color: white;
    }
    ul {
        li {
            color: white;
        }
    }
}