@import "cards.scss";
:root {
    --linearGradient: rgb(163, 168, 240) to rgb(105, 111, 221);
    //### Neutral
    --veryLightGrayishBlue: rgb(246, 246, 254);
    --lightGrayishBlue: rgb(179, 181, 198);
    --grayishBlue: rgb(109, 112, 141);
    --darkGrayishBlue: rgb(73, 76, 95);
}

body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--veryLightGrayishBlue);
}

.main-container {
    text-align: center;
    background-image: url(../../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position-y: -20px;
    background-position-x: 210px;
    background-size: 340px;
    @media screen and (min-width: 1024px) {
        background-image: url(../../images/bg-top.svg);
        background-repeat: no-repeat;
        background-position-y: -15px;
        background-position-x: right;
        position: relative;
        background-size: 340px;
    }
    .main-grid {
        display: grid;
        grid-row-gap: 2em;
        padding: 5em 0;
        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 336px 336px 336px;
            justify-content: center;
            align-items: center;
        }
    }
}

.wrapper {
    padding: 0 1.5em;
}

.anually {
    padding-top: 4em;
    &-h1 {
        padding-bottom: 1.5em;
        margin: 0;
        color: var(--grayishBlue);
    }
}

.switch {
    display: inline-block;
    height: 30px;
    width: 60px;
    border-radius: 40px;
    background-image: linear-gradient(to right, rgb(163, 168, 240) 0%, rgb(105, 111, 221) 100%);
    cursor: pointer;
    user-select: none;
}

.switch::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    transform: translateX(30px);
    transition: .3s;
    will-change: transform;
    margin: 2px 2px;
    user-select: none;
}

.checkbox:checked~.switch::before {
    transform: translateX(0);
    user-select: none;
}

.button-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        color: var( --lightGrayishBlue);
    }
    .anual {
        padding-right: 2em;
    }
    .mensual {
        padding-left: 2em;
    }
}

input {
    display: none;
}